%html
  %head
    %title= form_title (yield :title)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %div.container
      %div.header
        %ul.nav.nav-pills.pull-right
          %li.active= link_to "Home", root_path
          %li= link_to "About", about_path
          %li= link_to "Sign-In", signup_path
        %h3{:class=>"text-muted"} Project Name

      %div.jumbotron
        -flash.each do |key, value|
          .flash{:class => key}= value
        =yield
        =debug(params) if Rails.env.development?
